@use '_header.scss';
@use '_citySection.scss';

* {
  margin: 0px;
  color: aliceblue;
}

body {
  background-color: #151617;
  padding-bottom: 30px;
}

html {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow: overlay;
}

::-webkit-scrollbar-track {
  background: #3030303d;
  width: 50px;
}

::-webkit-scrollbar {
  width: 8px;
  outline: 2px solid #3030302d;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff56;
  border-radius: 60px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.384);
}

.loadingContainer {
  display: flex;
  justify-content: center;
  height: 76vh;
  align-items: center;
  width: 100%;
  flex-direction: column;
  & h3 {
    font-size: 32px;
    margin-bottom: 8px;
  }
  & p {
    margin-top: 8px;
    font-size: 15px;
    opacity: 0.8;
  }
}

main {
  padding-top: 60px;
}